@font-face {
	font-family: 'CGothic';
	src: url('../css/fonts/CGothic.eot');
	src: local('CGothic'),
	url('../css/fonts/CGothic.woff') format('woff'),
	url('../css/fonts/CGothic.ttf') format('truetype')
}

* {font-size: 12px;font-family: 'CGothic', 'Century Gothic', Verdana, Geneva, sans-serif;}
html {height: 100%;}
body {position: relative;min-height: 100%;margin: 0;padding-bottom: 80px;}

h1 {font-size: 38px;color: #6eb71f;}
h2 {font-size: 34px;}
h3 {font-size: 26px;color: #989898;}
h4 {font-size: 16px;}
h1, .h1, h2, .h2, h3, .h3 {margin: 10px 0;}

hr {border-color: #d1e4e8;}
input,
button {outline: none !important;}
input:hover,
button:hover {outline: none !important;}
label {font-weight: normal;}
a {color: #009dbf;}
.no_print {display: none;}
.clear {clear: both;height: 0;overflow: hidden;}
.btn,
.form-control {border-radius: 3px;padding: 12px;height: auto;}
.form-group.col-sm-6 {height: 80px;}
.form-horizontal .control-label {font-weight: normal;text-align: left;}
input[type="radio"], input[type="checkbox"] {margin: 2px 0 0;cursor: pointer;}
.radio, .checkbox {cursor: pointer;}
.form-group {margin-bottom: 25px;}
.text_edit:empty:before {
	content: attr(placeholder);
	color: #999999;
}
dl {margin: 0;padding-bottom: 20px;}

h4.title {font-size: 16px;border-bottom: 1px solid #333;padding-bottom: 7px;margin: 15px 0;height: 25px;}
h4.title a {font-size: 16px;color: #333;}
h4.title .right_link {float: right;color: #a94442;}
h4.title .invite_link {position: relative;margin-left: 45px;}
h4.title .count {position: absolute;padding: 3px 6px;background: #f41e1e;color: #fff;font-size: 10px;right: -25px;top: 3px;border-radius: 50%;}

.big_link {font-size: 50px;color: #fff;background: none;border: 0;}
.big_link:hover {text-decoration: underline;color: #fff;}

.label {background: #005e72;}
.label-primary {background-color: #008caa;}
.label-info {background-color: #ffba00;}
.label-success {background-color: #21d018;}
.label-warning {background-color: #ff7200;}
.label-danger {background-color: #ff0000;}

.no_margin {margin: 0 !important;}

.main_page {padding-bottom: 280px;}

.text_404 {text-align: center;font-size: 140px;margin: 130px 0;}
.content_block .text_404{font-size: 130px;color: #6eb71f;margin: 0;}

body .bootstrap-datetimepicker-widget td span {display: inline-block;float: none;}
.bootstrap-datetimepicker-widget .btn:active, .btn.active {outline: 0;background-image: none;-webkit-box-shadow: none;box-shadow: none;}

.btn-primary {background-color: #59c2e6;border-color: #59c2e6;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {background-color: #3abae5;border-color: #3abae5;}

.top_block {border-top: 7px solid #009dbf;}
.top_block .logo {display: block;font-size: /*34px*/0;color: #009dbf;margin: 10px 0 15px;background: url('../img/logo.png') no-repeat;height: 90px;width: 325px;}
.top_block .logo:hover {text-decoration: none;}

.top_block .menu {padding: 0;float: right;margin: 40px 0 20px;}
.top_block .menu ul {padding: 0;margin: 0;}
.top_block .menu li {list-style: none;float: left;margin-left: 40px;}
.top_block .menu li a {font-size: 18px;}

.main_form {text-align: center;position: relative;overflow: hidden;padding-top: 70px;}
.main_form img {min-width: 100%;min-height: 100%;position: absolute;top: 0;display: block;z-index: -1;}
.main_form .form_body {padding: 60px 10px 30px;background: #fff;margin-bottom: 70px;}
.main_form .form_body form {padding: 0 50px;background: #fff;}
.main_form .form_body p {padding-bottom: 60px;background: #fff;}

.partners_block {margin: 30px 0 40px;text-align: center;}
.partners_block .title {font-size: 16px;padding-bottom: 30px;}
.partners_block img {max-height: 60px;margin: 0 15px;max-width: 150px;}

.top_promo_block {background: #009dbf;padding: 30px 0 40px;text-align: center;color: #fff;}
.top_promo_block .small_title {font-size: 16px;color: #3fddff;}
.top_promo_block h3 {color: #fff;}
.top_promo_block p {text-align: left;}
.top_promo_block .bg_image {text-align: left;padding: 60px 20px 20px;background: url(../img/promo_sprite.jpg) center 0px;}

.middle_promo_block {background: url(../img/middle_promo_bg.png);padding: 55px 15px;border-top: 1px solid #007e99;color: #fff;}
.middle_promo_block h2 {color: #fff;text-align: center;}

.bottom_promo_block {text-align: center;padding: 45px 20px;}
.bottom_promo_block .small_title {font-size: 16px;color: #7b7b7b;}
.bottom_promo_block h3 {color: #008caa;}
.bottom_promo_block hr {color: #008caa;width: 10%;}
.bottom_promo_block p {color: #2f2f2f;font-size: 16px;}
.bottom_promo_block .promo_list {padding: 70px 0 40px;}
.bottom_promo_block .promo_list p {color: #7b7b7b;}
.bottom_promo_block .promo_sign {display: block;width: 52px;height: 52px;background: url(../img/promo_sign.png);margin: 15px auto;}

.users_block {background: #008caa;text-align: center;color: #fff;margin-bottom: 25px;max-height: 410px;overflow: hidden;}
.users_block h1 {color: #fff;font-size: 25px;}
.users_block h3 {color: #81e9ff;font-size: 16px;margin-bottom: 25px;}
.users_block img {border: 5px solid #fff;background: #fff;}
.users_block a {color: #fff;}
.users_block a:hover {text-decoration: none;color: #fff;}
.users_block .name {font-size: 14px;padding: 10px 0 40px;}

.users_block .col-sm-2 {
	display: inline-block;
	float: none;
}

.users_block.simple_list {background: none;text-align: center;color: #333;margin-bottom: 25px;}
.users_block.simple_list a {color: #333;}
.users_block.simple_list a:hover {color: #333;}

.detail_block {margin-bottom: 40px;}
.detail_block .title {background: #008caa;color: #fff;text-align: center;font-size: 16px;padding: 20px 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.detail_block .title a {float: right;position: relative;right: 30px;color: #fff;}
.detail_block .title a:hover {text-decoration: none;}
.detail_block .list {padding: 15px;background: #f2f2f2;border: 1px solid #e3e3e3;}
.detail_block form .form-group {margin-left: 15px;margin-right: 15px;}
.detail_block table {margin: 0;}
.detail_block tbody td {padding: 15px !important;border-color: #fff !important;}
.detail_block ul {list-style: none;padding-left: 25px;}
.detail_block li {padding: 5px 0;}

.cleaner_block {background: url(../img/middle_promo_bg.png);padding: 35px 15px;border-top: 1px solid #007e99;color: #fff;margin-bottom: 25px;}
.cleaner_block img {border: 5px solid #fff;background: #fff;}
.cleaner_block .title {font-size: 14px;margin-top: 30px;}
.cleaner_block .add_title {font-size: 20px;color: #81e9ff;}
.cleaner_block .big_link {display: block;margin-top: 15px;}
.cleaner_block .big_status {margin-top: 5px;font-size: 30px;}
.cleaner_block .text-danger {color: #ff8196;}
.cleaner_block .black_link {color: #000;font-size: 20px;}
.cleaner_block .black_link.disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.cleaner_block .black_link:hover {color: #000;}

.invite_action_block {font-size: 24px;text-align: center;margin: -15px 0;float: right;}
.invite_action_block .big_link {margin: 0 0 7px 0;line-height: 40px;}

.client_block {background: url(../img/middle_promo_bg.png);padding: 5px 15px 15px;border-top: 1px solid #007e99;color: #fff;margin-bottom: 25px;text-align: center;}
.client_block .big_status,
.client_block a.big_status {margin-top: 5px;font-size: 30px;color: #fff;}
.client_block .add_title {font-size: 20px;color: #81e9ff;}
.client_block .name {font-size: 14px;padding: 10px 0 0;}
.client_block img {border: 5px solid #fff;background: #fff;margin-top: 20px;}
.client_block .info_block {margin-top: 30px;}
.client_block .black_link {display: block;color: #000;font-size: 20px;margin-top: 35px;}
.client_block .black_link.disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.client_block .btn-success {background-color: #a8ff00;color: #53730d;border-color: #a8ff00;width: 200px;}
.client_block .btn-danger {background-color: #f52525;color: #4e0606;border-color: #f52525;width: 200px;}
.client_block .text-danger {color: #9C0000;}

.list.dl-horizontal dt {padding: 10px 0;font-weight: normal;width: 40%;text-align: left;}
.list.dl-horizontal dd {padding: 10px 0;margin-left: 50%;}
.list.dl-horizontal dd:first-letter {text-transform: uppercase;}
table.list {width: 100%;margin-bottom: 15px;}
.list td {padding: 10px 0;}
.list a {color: #333;}
table .btn {border-radius: 0;padding: 2px 12px;border: 0;margin: -10px 0;}
table .btn.btn-primary {color: #fff;background-color: #008caa;}
table .btn.btn-primary:hover {color: #fff;background-color: #005668;}

.list.orders * {font-size: 14px;}
.list.orders tr {cursor: pointer;}
.list.orders .label {display: inline-block;border-radius: 0;padding: 13px 10px 13px 50px;position: relative;font-weight: normal;}
.list.orders .label [class^="icon_"], [class*="icon_"] {display: block;position: absolute;top: 0px;left: 0px;height: 100%;font-size: 24px;border-right: 1px solid #fff;padding: 6px 7px;font-weight: normal;}
.list.orders .label [class^="icon_"]:before, [class*=" icon_"]:before {content: "";text-decoration: inherit;display: inline-block;speak: none;height: 31px;width: 28px;background: url(../img/icon_sprite.png);}
.list.orders .label .icon_info:before {background-position: -2px -3px;}
.list.orders .label .icon_time:before {background-position: -2px -105px;}
.list.orders .label .icon_frown:before {background-position: -2px -156px;}
.list.orders .label .icon_ok:before {background-position: -2px -54px;}
.list.orders .label .icon_clean:before {background-position: -2px -207px;}

.list.orders tr:hover td {color: #59c2e6;}
.list.orders tr:hover .label-primary {background-color: #59c2e6;}
.list.orders tr:hover .label-info {background-color: #ffc939;}
.list.orders tr:hover .label-success {background-color: #3bff31;}
.list.orders tr:hover .label-warning {background-color: #ffae00;}
.list.orders tr:hover .label-danger {background-color: #ff452c;}

.list.orders .small_photo {float: left;margin-right: 10px;}
.list.orders .info {margin-top: 10px;}
.list.orders .info .price {color: #d57d32;}
.list.orders small,
.list.orders small * {font-size:12px;}

.more_orders {display: block;text-align: center;text-decoration: none;color: #333;font-size: 14px;padding-bottom: 20px;background: url('../img/more_arrow.png') bottom center no-repeat;}
.more_orders:hover {text-decoration: none;color: #333;}

table.cleaners .text_edit {width: 100%;min-height: 60px;}
table.cleaners .text_edit:hover {cursor: text;}
table.cleaners .text_edit:focus {border: 1px solid #ccc;border-radius: 4px;border-color: #66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
table.cleaners .text_save {border: 1px solid #ccc;border-radius: 3px;margin: 10px 0 0 0;display: none;}
table.cleaners small {padding-top: 5px;display: none;position: relative;top: 5px;left: 10px;}
table.cleaners .active_block {text-align: center;}
table.cleaners .active_block a:hover {text-decoration: none;}
table.cleaners .active_block i {font-size: 18px;color: #C91313;}

table.reviews * {font-size: 12px;}
table.reviews .name {font-size: 18px;}
table.reviews .negative {color: #C91313;}
table.reviews .positive .name {color: #4f5f6f;}

.d_block {text-align: center;position: relative;overflow: hidden;padding-top: 30px;height: 300px;}
.d_block > img {min-width: 100%;min-height: 100%;position: absolute;top: 0;display: block;z-index: -1;}
.d_block h1 * {font-size: 50px;background: url(../img/opacity.png);color: #004857;padding: 5px 15px;}
.d_block h2 * {font-size: 34px;background: url(../img/opacity.png);color: #222;padding: 5px 15px;}
.d_block h1 {margin: 45px 0;}

.content_block {padding: 20px 0;}
.content_block h1,
.content_block h3 {color: #008caa;font-size: 26px;}
.content_block .small_title {font-size: 16px;color: #7b7b7b;}
.content_block hr {color: #008caa;width: 20%;}
.content_block p {margin-bottom: 20px;}
.content_block p,
.content_block p * {color: #2f2f2f;font-size: 16px;}

.footer_big_block {position: absolute;bottom: 0;width: 100%;background: #59c2e6;height: 280px;padding-top: 25px;color: #fff;}
@media (max-width: 992px) {
	.footer_big_block {height: 600px;}
	.main_page {padding-bottom: 620px;}
}
.footer_big_block .menu ul {list-style: none;padding: 0;}
.footer_big_block .menu .title {font-size: 20px;border-bottom: 1px solid #fff;margin-bottom: 10px;}
.footer_big_block .menu li a {color: #fff;}
.footer_big_block hr {border-color: #6dc9e9;}
.footer_big_block .contact_block {font-size: 16px;text-align: center;}

.footer_block {position: absolute;bottom: 0;width: 100%;height: 75px;color: #7b7b7b;}
.footer_block hr {border-color: #d1d1d1;}
.footer_block .menu {float: right;}
.footer_block .menu ul {list-style: none;padding-left: 0;}
.footer_block .menu li {float: left;padding-left: 10px;}
.footer_block .menu li a {color: #7b7b7b;}
.footer_block .menu li:before {content: "/";padding-right: 10px;}
.footer_block .menu li:first-child:before {content: "";}

.modal-content {border-radius: 1px;border: 0;-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.5);box-shadow: 0 0 0 10px rgba(255,255,255,0.5);}
.modal-content button.close {display: block;position: absolute;right: 20px;top: 15px;font-size: 26px;z-index: 3;}
.modal-body {padding: 20px 80px;}
.modal-body .title {text-align: center;color: #005668;margin-bottom: 25px;}

.popup_info {margin: -15px 0 15px;}
.popup_info,
.popup_info * {font-size: 18px;}
.btn-group {width: 100%;}
.btn-group .btn {background-color: #4f5f6f;border-color: #4f5f6f;width: 10%;}
.btn-group .btn.active {background-color: #59c2e6;border-color: #59c2e6;}

.review_form > div > label {display: none;}

.user_info {text-align: center;}
.user_info h2 {font-size: 26px;margin-top: 30px;}
.user_info p {margin: 0;}
.user_info .reviews {text-align: left;}
.user_info .reviews .title {text-align: left;color: #005668;border-bottom: 1px solid #005668;margin-bottom: 5px;}
.user_info .reviews ul {list-style: none;padding-left: 0px;}
.user_info .reviews li {padding: 15px 0;border-bottom: 1px dashed #ddd;}
.user_info .reviews .name {color: #000;}
.user_info .reviews .text {color: #777;}
.user_info form button {display: inline;background: transparent;border: 0;padding: 0;color: #FFA044;font-weight: bold;}

.contact_info {position: relative;}
.contact_info .group-google-maps-preview {width: 100%;}
.contact_info_inner .phone {padding: 15px;}
.contact_info .print {position: absolute;right: 20px;bottom: 30px;color: #C1C1C1;cursor: pointer;}
.contact_info .print:hover {color: #000;opacity: 0.5;}
.contact_info .print * {font-size: 24px;}
.contact_info .btn_block {padding: 20px 120px;}

.inner_menu {margin-bottom: 25px;}
.inner_menu ul {list-style: none;padding-left: 0;}
.inner_menu li {float: left;margin-right: 10px;font-size: 18px;color: #999;}
.inner_menu li:before {content: "/";padding: 0 10px;}
.inner_menu li:first-child:before {content: "";padding: 0;}
.inner_menu a {font-size: 18px;color: #333;text-decoration: none;}
.inner_menu a:hover {text-decoration: underline;color: #009dbf;}

.message_items {border: 1px solid #e9e9e9;height: 350px;border-bottom: 0;overflow: auto;}
.message_items .item {padding: 10px;}
.message_items .item .text {width: 50%;margin: 0 20px;padding: 15px;min-height: 55px;border-radius: 10px;}
.message_items .item .date {color: #aaa;padding: 20px 5px;}
.message_items .to_me.item .inner > div {float: left;}
.message_items .to_me.item .text {background: #eee;}
.message_items .from_me.item .inner > div {float: right;}
.message_items .from_me.item .text {background: #cdedf5;}
.message_form textarea {border-radius: 0;border: 1px solid #e9e9e9;-webkit-box-shadow: none;box-shadow: none;resize: none;}
